<form [formGroup]='form' (ngSubmit)="submit()">
  <h2>Войти в Admin Panel</h2>

  <!-- TODO: async pipe + Observables -->
  <div *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>

  <div *ngIf="message">
    {{ message }}
  </div>

  <div>
    <label for="email">E-mail:</label>
    <input type="email" id="email" formControlName="email">
    <div style="color: red" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Заполните поле</small>
      <small *ngIf="form.get('email').errors.email">Введите корректный e-mail</small>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
    <div style="color: red" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Заполните поле</small>
      <small *ngIf="form.get('password').errors.minlength">Введите хотя бы {{form.get('password').errors.minlength.requiredLength}} символов</small>
    </div>
  </div>

  <button
    type="submit"
    [disabled]="form.invalid || submitted"
  >
    Войти
  </button>
</form>
